
.login {
    border-radius: 35px;
    box-shadow: 5px 5px 10px grey;
    position: absolute;
    left: 50%;
    top: 475px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 900px;
    height: 675px;
}

input {
            height: 40px;
            width: 100%;
            padding: 0;
            position: relative;
            margin-bottom: 14px;
            border-radius: 35px;
            border-color: lightgray;
            display: inline-block;
            box-sizing: border-box;
        }
        

        input[type=submit]{
            height: 45px;
            background-color: #4f5466;
            color: white;
            margin: auto;
        } 
